<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <logger name="org.opengroup.osdu" level="DEBUG"/>
  <springProfile name="local">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%yellow([%thread]) %highlight(| %-5level |) %green(%d) %cyan(| %logger{15} |) %highlight(%msg) %n</pattern>
        <charset>utf8</charset>
      </encoder>
    </appender>
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="!local">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
          <timestampFormat>yyyy-MM-dd HH:mm:ss.SSS</timestampFormat>
          <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
          <appendLineSeparator>true</appendLineSeparator>
        </layout>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="stdout"/>
    </root>
  </springProfile>

</configuration>
