# Copyright © 2020 Amazon Web Services
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##### Sample os-search .env file ###########################################################
#
# Basic use: duplicate this file, and make sure the new copy is also in the root of the AWS
# 'provider' folder, and name it `.env`. Note that on macOS, by default, files starting with
# are considered hidden system files, and are not displayed by default in Finder or the file
# selector (which you will need to use when adding the environment file(s) to the run
# configuration(s). While you can change a setting to show hidden files and folders by
# default, there is also a keyboard shortcut to quickly toggle between hide/show. With either
# Finder as the active application ("Finder" appears next to the Apple logo in the Menu Bar),
# press: command + shift + . (period). You can store configurations for multiple environments
# by adding more duplicates following a naming scheme of your choosing, for example:
# `staging.env`, `uat.env`, or `local.env`.
#
# This requires installing a plugin to your IDE that allows you to use a .env
# file in your repository folder (does NOT get checked into source control;
# only the sample environment configuration (sample.env) should be committed.
#
# Download links for .env file plugins:
# IntelliJ - https://github.com/Ashald/EnvFile

##### Authentication / Secrets #####
# Replace placeholder text with your own AWS secret access keys
# and rename to `.env` - do NOT check-in .env with your credentials! Leave it in .gitignore
AWS_ACCESS_KEY_ID=<YOUR_ACCESS_KEY_ID>
AWS_SECRET_KEY=<YOUR_SECRET_KEY>

#### Urls/Ports #############
APPLICATION_PORT=8080
CACHE_CLUSTER_ENDPOINT=127.0.0.1
CACHE_CLUSTER_PORT=6379
LEGALTAG_BASE_URL=<YOUR_API_URL>

##### Other environment variables ##########################################################
ENVIRONMENT=dev
AWS_REGION=us-east-1
LOG_LEVEL=DEBUG
SSM_ENABLED=True
AIRFLOW_BASEURL=<YOUR_URL>
OSDU_ENTITLEMENTS_URL={{entitlements_url}}/api/entitlements/v1/groups

##### Integration test-specific - these are only used for integration tests, not the app ###
AWS_COGNITO_CLIENT_ID=<YOUR_COGNITO_CLIENT_ID>
AWS_COGNITO_AUTH_FLOW=USER_PASSWORD_AUTH
AWS_COGNITO_AUTH_PARAMS_USER=<YOUR_AUTHORIZED_USER>
AWS_COGNITO_AUTH_PARAMS_USER_NO_ACCESS=<YOUR_USER_WITH_NO_ACCESS>
AWS_COGNITO_AUTH_PARAMS_PASSWORD=<YOUR_AUTHORIZED_USER_PASSWORD>
TENANT_NAME=<YOUR_TENANT>
DOMAIN=<YOUR_DOMAIN>
WORKFLOW_HOST=<YOUR_API_URL>/api/workflow/v1/
DYNAMO_DB_REGION=<YOUR_REGION>
DYNAMO_DB_ENDPOINT=<YOUR_ENDPOINT>
RESOURCE_PREFIX=<YOUR_ENVIRONMENT>
